@import url("https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@400;700&family=Inter:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-100: theme("colors.slate.550");
  --primary-200: theme("colors.slate.600");
  --primary-300: theme("colors.slate.580");
  --primary-400: theme("colors.slate.650");
  --secondary-10: theme("colors.white");
  --secondary-100: theme("colors.gray.150");
  --secondary-200: theme("colors.gray.250");
  --secondary-300: theme("colors.gray.450");
  --secondary-400: theme("colors.yellow.650");
  --text-primary: theme("colors.neutral.800");
  --text-secondary: theme("colors.white");
  --invalid: theme("colors.red.500");
  --divide-verse1: theme("colors.stone.400");
  --divide-verse2: theme("colors.stone.300");
  --divide-verse3: theme("colors.zinc.300");
  --divide-verse4: theme("colors.gray.200");
  --divide-verse5: theme("colors.orange.200");
  --divide-verse6: theme("colors.slate.400");
  --divide-verse7: theme("colors.slate.300");
  --divide-verse8: theme("colors.emerald.400");
  --divide-verse9: theme("colors.emerald.200");
}

body {
  background-color: white;
  color: black;
}

.dark body {
  background-color: #323653;
  color: white;
}

:root {
  --dot-translate-rx: 24px;
  --dot-translate-lx: -24px;
}

@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
  }
}

.verse {
  font-family: "Anek Bangla", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

#dots {
  display: flex;
  gap: 10px;
  margin: 10px;
}

#dots span {
  border: 7px solid #aaa;
  border-radius: 100px;
  width: 0px;
  height: 0px;
  display: inline-block;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

#dots span:nth-child(1),
#dots span:nth-child(7) {
  opacity: 0;
  transform: scale(0);
}

#dots span:nth-child(4) {
  border-color: #333;
}

.dark #dots span:nth-child(4) {
  border-color: #fff;
}

#dots span:nth-child(2),
#dots span:nth-child(6) {
  opacity: 0.7;
  transform: scale(0.6);
}

#dots span:nth-child(3),
#dots span:nth-child(5) {
  opacity: 0.7;
  transform: scale(1);
}

#dots.lw span:nth-child(1) {
  animation-name: dotlw1;
}
#dots.lw span:nth-child(2) {
  animation-name: dotlw2;
}
#dots.lw span:nth-child(3) {
  animation-name: dotlw3;
}
#dots.lw span:nth-child(4) {
  animation-name: dotlw4;
}
#dots.lw span:nth-child(5) {
  animation-name: dotlw5;
}
#dots.lw span:nth-child(6) {
  animation-name: dotlw6;
}
#dots.lw span:nth-child(7) {
  animation-name: dotlw7;
}

.dark #dots.lw span:nth-child(3) {
  animation-name: dotlw3_dark;
}
.dark #dots.lw span:nth-child(4) {
  animation-name: dotlw4_dark;
}

@keyframes dotlw1 {
  from {
    transform: translateX(0px) scale(0);
    opacity: 0;
  }

  to {
    transform: translateX(var(--dot-translate-rx)) scale(0.6);
    opacity: 0.7;
  }
}

@keyframes dotlw2 {
  from {
    transform: translateX(0px) scale(0.6);
    opacity: 0.7;
  }

  to {
    transform: translateX(var(--dot-translate-rx)) scale(1);
    opacity: 0.7;
  }
}

@keyframes dotlw3 {
  from {
    transform: translateX(0px) scale(1);
    opacity: 0.7;
    border-color: #aaa;
  }

  to {
    transform: translateX(var(--dot-translate-rx)) scale(1);
    opacity: 1;
    border-color: #000000;
  }
}

@keyframes dotlw4 {
  from {
    transform: translateX(0px) scale(1);
    opacity: 1;
    border-color: #000000;
  }

  to {
    transform: translateX(var(--dot-translate-rx)) scale(1);
    opacity: 0.7;
    border-color: #aaa;
  }
}

@keyframes dotlw3_dark {
  from {
    transform: translateX(0px) scale(1);
    opacity: 0.7;
    border-color: #aaa;
  }

  to {
    transform: translateX(var(--dot-translate-rx)) scale(1);
    opacity: 1;
    border-color: #ffffff;
  }
}

@keyframes dotlw5 {
  from {
    transform: translateX(0px) scale(1);
    opacity: 0.7;
  }

  to {
    transform: translateX(var(--dot-translate-rx)) scale(0.6);
    opacity: 0.7;
  }
}

@keyframes dotlw6 {
  from {
    transform: translateX(0px) scale(0.6);
    opacity: 0.7;
  }

  to {
    transform: translateX(var(--dot-translate-rx)) scale(0);
    opacity: 0;
  }
}

@keyframes dotlw7 {
  from {
    transform: translateX(0px) scale(0);
    opacity: 0;
  }

  to {
    transform: translateX(var(--dot-translate-rx)) scale(0);
    opacity: 0;
  }
}

@keyframes dotlw4_dark {
  from {
    transform: translateX(0px) scale(1);
    opacity: 1;
    border-color: #ffffff;
  }

  to {
    transform: translateX(var(--dot-translate-rx)) scale(1);
    opacity: 0.7;
    border-color: #aaa;
  }
}

#dots.rw span:nth-child(1) {
  animation-name: dotrw1;
}
#dots.rw span:nth-child(2) {
  animation-name: dotrw2;
}
#dots.rw span:nth-child(3) {
  animation-name: dotrw3;
}
#dots.rw span:nth-child(4) {
  animation-name: dotrw4;
}
#dots.rw span:nth-child(5) {
  animation-name: dotrw5;
}
#dots.rw span:nth-child(6) {
  animation-name: dotrw6;
}
#dots.rw span:nth-child(7) {
  animation-name: dotrw7;
}

.dark #dots.rw span:nth-child(4) {
  animation-name: dotrw4_dark;
}
.dark #dots.rw span:nth-child(5) {
  animation-name: dotrw5_dark;
}

@keyframes dotrw1 {
  from {
    transform: translateX(0px) scale(0);
    opacity: 0;
  }

  to {
    transform: translateX(var(--dot-translate-lx)) scale(0);
    opacity: 0;
  }
}

@keyframes dotrw2 {
  from {
    transform: translateX(0px) scale(0.6);
    opacity: 0.7;
  }

  to {
    transform: translateX(var(--dot-translate-lx)) scale(0);
    opacity: 0;
  }
}

@keyframes dotrw3 {
  from {
    transform: translateX(0px) scale(1);
    opacity: 0.7;
  }

  to {
    transform: translateX(var(--dot-translate-lx)) scale(0.6);
    opacity: 0.7;
  }
}

@keyframes dotrw4 {
  from {
    transform: translateX(0px) scale(1);
    opacity: 1;
    border-color: #000000;
  }

  to {
    transform: translateX(var(--dot-translate-lx)) scale(1);
    opacity: 0.7;
    border-color: #aaa;
  }
}

@keyframes dotrw5 {
  from {
    transform: translateX(0px) scale(1);
    opacity: 0.7;
    border-color: #aaa;
  }

  to {
    transform: translateX(var(--dot-translate-lx)) scale(1);
    opacity: 1;
    border-color: #000000;
  }
}

@keyframes dotrw6 {
  from {
    transform: translateX(0px) scale(0.6);
    opacity: 0.7;
  }

  to {
    transform: translateX(var(--dot-translate-lx)) scale(1);
    opacity: 0.7;
  }
}

@keyframes dotrw7 {
  from {
    transform: translateX(0px) scale(0);
    opacity: 0;
  }

  to {
    transform: translateX(var(--dot-translate-lx)) scale(0.6);
    opacity: 0.7;
  }
}

@keyframes dotrw5_dark {
  from {
    transform: translateX(0px) scale(1);
    opacity: 0.7;
    border-color: #aaa;
  }

  to {
    transform: translateX(var(--dot-translate-lx)) scale(1);
    opacity: 1;
    border-color: #ffffff;
  }
}

@keyframes dotrw4_dark {
  from {
    transform: translateX(0px) scale(1);
    opacity: 1;
    border-color: #ffffff;
  }

  to {
    transform: translateX(var(--dot-translate-lx)) scale(1);
    opacity: 0.7;
    border-color: #aaa;
  }
}

.h-300 {
  height: 300px;
}

.w-400 {
  width: 400px;
}

.custom-purple {
  border-radius: 10px;
  background: linear-gradient(292deg, #a7a0ba -1.2%, #c8c5d1 99.04%);
}

.custom-gray {
  border-radius: 10px;
  background: linear-gradient(109deg, #d8d8d8 1.61%, #b3b5c0 96.85%), #9ca3af;
}

.notification-badge {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
}

.f-screen-appbar {
  min-height: calc(100vh - 11.5rem);
}

.appbar {
  @apply fixed sm:relative top-0 sm:top-auto left-0 sm:left-auto right-0 sm:right-auto bg-th-primary-100 sm:bg-inherit z-[999] sm:z-auto mx-auto flex md:items-center flex-1 flex-col justify-between px-5 py-2 gap-1 max-w-7xl sm:px-5 md:flex-row md:h-16 lg:px-8 xl:px-0 xl:w-11/12 2xl:px-0 2xl:w-4/5 shadow-lg md:shadow-none;
}

.layout-appbar {
  @apply f-screen-appbar flex flex-col gap-5 md:gap-7 items-center px-2 md:px-5 pt-5 md:pt-0 font-sans;
}

.card {
  @apply p-3 sm:py-5 sm:px-8 rounded-2xl border border-th-secondary-300 shadow-md;
}
